*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #331d2c;
}

.calculator-grid {
  display: grid;
  max-width: 80%;
  margin: auto;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  color: #efe1d1;
  background-color: #a78295;
  /* background-color: rgba(255, 255, 255, 0.75); */
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: #a78295cc;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.747);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

footer {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.596);
  padding: 5px;
}
footer p {
  color: #fff;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .calculator-grid {
    justify-content: center;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);
  }
}
@media screen and (max-width: 320px) {
  .calculator-grid {
    justify-content: center;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: minmax(5rem, auto) repeat(5, 4rem);
  }
}
